<div class="results-block">
  <%= render 'layouts/error_messages'%>
</div>

<% if @stock %>
  <div class="card card-header results-block">
    <strong>Symbol: </strong><%= @stock.ticker %>
    <strong>Name: </strong><%= @stock.name %>
    <strong>Name: </strong><%= @stock.last_price %>
  <% if current_user.can_strack_stock?(@stock.ticker) %> 
    <%= link_to 'Add to Portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker) , class:"btn btn-success",data:{"turbo-method": :post} %>
  <% else %>
  <span class="badge badge-secundary">
    You are already tracking
    <% if !current_user.under_stock_limit? %>
      10 stocks
    <% end%>
   <%if current_user.stock_already_tracked?(@stock.ticker)%>
     this stock
    <%end %>
    </span>
<% end %>
  </div>
<% end %>
